node_modules/
*.config.js
*.config.cjs
*.config.mjs
*.config.ts
*.conf.js
*.conf.cjs
*.conf.mjs
*.conf.ts
*.json
.prettierignore
.eslintrc*
.babelrc*
package.json
package-lock.json
yarn.lock
pnpm-lock.yaml
.env*